@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=3.2.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=3.2.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=3.2.1") format("truetype"), url("../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
  font-weight: normal;
  font-style: normal; }

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d"; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f6f6f6;
  font-size: 14px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.img-responsive {
  display: block;
  max-width: 100%; }

.wrapper {
  max-width: 935px;
  margin: 0 auto;
  padding: 30px 50px; }

div.left {
  position: relative;
  float: left; }

div.right {
  float: right; }

h1.product_title, .product_title h1 {
  padding: 1;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 49%;
  float: right; }

.item_number {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px; }

.product_price {
  margin-bottom: 20px; }

.product_price .discounted, .product_price .ndiscounted {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: bold; }

.product_price .discounted {
  margin-right: 25px;
  color: black;
  text-decoration: line-through; }

.product_price .ndiscounted {
  color: #ce2c52; }

.rate_and_share {
  margin-bottom: 20px; }

/*.rating-result {
    width: 80px;
    margin-left: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}*/
.rating-result svg {
  flex-grow: 0;
  display: inline-block;
  height: 1em;
  width: 1em; }

.share {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: #2c87ce;
  margin-left: 17px;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.socials {
  margin-top: 30px;
  padding: 15px 15px;
  background-color: white;
  position: absolute;
  width: 260px;
  margin-left: -175%;
  top: 0;
  display: none;
  z-index: 394823;
  -webkit-box-shadow: 0px 0px 6px #7a7a7a;
  -moz-box-shadow: 0px 0px 6px #7a7a7a;
  box-shadow: 0px 0px 6px #7a7a7a; }

.socials:before {
  content: '';
  background-image: url(../images/arrow.png);
  width: 21px;
  height: 10px;
  position: absolute;
  top: -10px;
  left: 46%;
  z-index: 1; }

.socials a {
  color: #2c87ce;
  border-radius: 20px;
  border: 2px solid #2c87ce;
  width: 37px;
  height: 37px;
  display: inline-block;
  text-align: center;
  margin-right: 7px;
  vertical-align: top; }

.socials a:last-child {
  margin-right: 0;
  border: 0; }

.socials a i {
  font-size: 16px;
  line-height: 37px; }

.socials a:last-child i {
  font-size: 38px;
  line-height: 37px; }

.socials a.close {
  border: 0; }

.msocials {
  padding: 15px 15px;
  position: absolute;
  top: 0;
  display: block;
  z-index: 394823;
  display: none; }

.msocials a {
  color: #2c87ce;
  border-radius: 20px;
  border: 1px solid #2c87ce;
  width: 37px;
  height: 37px;
  display: block;
  text-align: center;
  margin-bottom: 10px; }

.msocials a i {
  font-size: 16px;
  line-height: 37px; }

.active {
  display: block; }

.details p:first-child {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0;
  display: none; }

.details p:first-child {
  display: none; }

.details p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: lighter; }

fieldset {
  border: none;
  display: inline-block;
  margin: 5px 0;
  padding: 0; }

fieldset legend {
  float: left;
  margin-top: 9px;
  margin-right: 13px;
  min-width: 55px;
  font-weight: bold; }

#size input[type="radio"], #color input[type="radio"] {
  display: none; }

#size label, #color label {
  border-radius: 30px;
  display: inline-block;
  margin-right: 8px;
  cursor: pointer; }

#size label {
  min-width: 37px;
  height: 37px;
  padding: 0 7px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border: 1px solid #d3d3d3;
  line-height: 36px;
  text-align: center; }

#size label:last-child, #color label:last-child {
  margin-right: 0; }

#size input[type=radio]:checked + label, #color input[type=radio]:checked + label {
  -webkit-box-shadow: 0px 0px 10px #414141;
  -moz-box-shadow: 0px 0px 10px #414141;
  box-shadow: 0px 0px 10px #414141; }

#color {
  margin-left: 1px; }

#color label {
  width: 37px;
  height: 37px; }

#color label[for="blue"] {
  background-color: #77d8e7; }

#color label[for="green"] {
  background-color: #96c795; }

#color label[for="dark_pink"] {
  background-color: #ce92a1; }

#color label[for="purple"] {
  background-color: #aa93cf; }

.add_to_cart {
  cursor: pointer;
  background-color: #8ae6cf;
  color: #2c303d;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 13px 56px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700; }

.other_itmes {
  position: relative; }

.other_itmes h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 17px;
  margin-top: 67px; }

.item h3 {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #2c303d;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #f6f6f6; }

.product_image {
  position: relative;
  margin: 0;
  padding: 0; }

.slick-next {
  background-image: url(../images/right.png);
  width: 29px;
  height: 50px;
  right: -35px; }

.slick-prev {
  background-image: url(../images/left.png);
  width: 29px;
  height: 50px;
  left: -35px; }

.slick-next:before, .slick-prev:before {
  content: ' '; }

.slick-next:hover, .slick-next:focus {
  background-image: url(../images/right.png); }

.slick-prev:hover, .slick-prev:focus {
  background-image: url(../images/left.png); }

.slick-slide > div {
  margin: 0 -10px;
  margin-bottom: 20px; }

.all_items .item {
  padding: 0 10px; }

.product .container {
  width: 49%; }

.item a {
  text-decoration: none; }

.item a:hover img {
  -webkit-box-shadow: 0px 0px 10px #414141;
  -moz-box-shadow: 0px 0px 10px #414141;
  box-shadow: 0px 0px 10px #414141; }

.item .price {
  background-color: #8ae6cf;
  display: block;
  position: absolute;
  bottom: 22px;
  right: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 11px; }

.item .item_image {
  position: relative; }

.item .item_image img {
  width: 100%;
  height: auto; }

.item .price {
  color: #2c303d; }

.item .price .discounted {
  text-decoration: line-through; }

.item .price .ndiscounted {
  color: #ce2c52; }

.item .tablet_price {
  display: none; }

.item .item_title h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #2c303d;
  text-align: center;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #f6f6f6; }

.mobile_v {
  display: none; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  h1.product_title, .product_title h1 {
    width: 100%;
    float: left; }
  .wrapper {
    max-width: 935px;
    margin: 0 auto;
    padding: 30px 36px; }
  .all_items .item:nth-of-type(3n) {
    margin-right: auto; }
  .all_items .item:nth-of-type(3n+1) {
    margin-left: 2%; }
  .all_items .item:nth-of-type(2n+1) {
    margin-right: 0; }
  .all_items .item:nth-of-type(2n+1) {
    margin-left: 0; }
  .product {
    position: relative;
    padding-top: 39px; }
  .item_number {
    margin-bottom: 5px; }
  .product_price .discounted, .product_price .ndiscounted {
    font-size: 36px; }
  .product_price {
    margin-bottom: 5px; }
  .details p:first-child {
    display: block; }
  .rate_and_share {
    margin-bottom: 15px; }
  .other_itmes h2 {
    margin-top: 62px;
    text-align: center;
    margin-bottom: 10px; }
  .item .price {
    background-color: rgba(138, 230, 207, 0.8);
    width: 100%;
    bottom: 4px;
    text-align: center; }
  .share {
    display: none; }
  .msocials {
    display: block; } }

@media all and (max-width: 760px) {
  fieldset legend {
    width: 100%; }
  .mobile_v {
    display: inline-block; }
  .wrapper {
    padding: 0; }
  div.right, .product_title {
    padding: 30px 39px; }
  .product .container {
    width: 100%;
    margin: 0; }
  h1.product_title {
    width: 100%;
    margin-bottom: 0; }
  .item_number {
    margin-bottom: 5px; }
  .product_price .discounted, .product_price .ndiscounted {
    font-size: 36px; }
  .product_price {
    margin-bottom: 5px; }
  .details p:first-child {
    display: block; }
  .rate_and_share {
    margin-bottom: 15px; }
  .other_itmes h2 {
    margin-top: 62px;
    text-align: center;
    margin-bottom: 10px; }
  .item .price {
    background-color: rgba(138, 230, 207, 0.8);
    width: 100%;
    bottom: 0;
    text-align: center; }
  .slick-slide > div {
    margin-bottom: 0; }
  .product_price .discounted {
    margin-right: 5px; }
  fieldset {
    padding: 0;
    width: 100%; }
  .size_color form div span {
    line-height: 2.6; }
  .add_to_cart {
    margin: 0 auto;
    display: block;
    margin-top: 40px; }
  .other_itmes h2 {
    margin-top: 10px; }
  .product_image img {
    width: 100%;
    height: auto; }
  .add_to_cart {
    padding: 13px 80px;
    font-size: 18px; }
  .other_itmes {
    padding: 30px 56px;
    padding-top: 2px; }
  .share {
    margin-left: 0;
    display: block; }
  .share span:first-child {
    display: none; }
  .socials {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 0;
    background-color: transparent;
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: auto;
    margin-left: 0;
    top: 0;
    display: block;
    z-index: 394823; }
  .socials:before {
    position: relative; }
  .socials a.close {
    display: none; }
  .details p:first-child {
    display: none; } }
